<html>
    <h1>Step 3. Update taskID={{task.id}}</h1>
    <form id="update-task" action="/tasklist" method="post">

        taskDetails:    <input type="text" name="taskDetails" value="{{task.taskDetails}}"><br>
        
    </form>
    <button onclick="updateTask({{task.id}})">Update</button>  
</html>